.container {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0 auto;

  /* margin: 0 auto; */
}
